singularity {
    enabled = true
    cacheDir = "/home/jupyter-andrew.galbraith1/MBB659_Pipeline/singularity"
}


process {
    withName: 'download_data' {
        //conda = "/home/jupyter-andrew.galbraith1/.conda/envs/sratoolkit_env"
        container = "quay.io/biocontainers/sra-tools:3.0.0--pl5321hd0d85c6_1"
        time = '4h'
    }
}

process {
    withName: 'index_reference' {
        //conda = "/home/jupyter-andrew.galbraith1/.conda/envs/abismal_env"
        container = "quay.io/biocontainers/abismal:3.1.1--hd03093a_0"
        time = '4h'
    }
}

process {
    withName: 'trim_reads' {
        //conda = "/home/jupyter-andrew.galbraith1/.conda/envs/trim_env"
        container = "https://quay.io/biocontainers/trim-galore:0.6.7--hdfd78af_0"
        time = '1h'
    }
}

process {
    withName: 'align_paired_reads' {
        //conda = "/home/jupyter-andrew.galbraith1/.conda/envs/abismal_env"
        container = "https:quay.io/biocontainers/abismal:3.1.1--hd03093a_0"
        time = '1h'
    }
}

process {
    withName: 'create_bam_files' {
        //conda = '/home/jupyter-andrew.galbraith1/.conda/envs/samtools_env'
        container = "https://quay.io/biocontainers/samtools:1.16.1--h6899075_1"
    }
}

process {
    withName: 'merge_bam_files' {
    
        //conda = '/home/jupyter-andrew.galbraith1/.conda/envs/samtools_env'
        container = "https://quay.io/biocontainers/samtools:1.16.1--h6899075_1"
    
    }

}


process {
    withName: 'format_sam_file' {
        //conda = "/home/jupyter-andrew.galbraith1/.conda/envs/dmtools_env"
        container = "https://quay.io/biocontainers/methpipe"
        time = '1h'
    }
}

process {
    withName: 'sort_sam' {
    
        //conda = '/home/jupyter-andrew.galbraith1/.conda/envs/samtools_env'
        container = "https://quay.io/biocontainers/samtools:1.16.1--h6899075_1"
    
    }
}

process {
    withName: 'remove_duplicates' {
    
        //conda = '//home/jupyter-andrew.galbraith1/.conda/envs/dmtools_env'
        container = "https://quay.io/biocontainers/methpipe"
    }
}

process {
    withName: 'get_methylation_counts' {
    
        //conda = '//home/jupyter-andrew.galbraith1/.conda/envs/dmtools_env'
        container = "https://quay.io/biocontainers/methpipe"
    }
}

process {
    withName: 'get_5mC_5hmC' {
    
        //conda = '//home/jupyter-andrew.galbraith1/.conda/envs/dmtools_env'
        container = "https://quay.io/biocontainers/methpipe"
    }
}